@model GH.Web.Models.BookingClaimViewModel
@using GH.Web.Helpers


<script type="text/javascript">
    $().ready(function () {
        $('#desc').hide();

        $("#jtSearching").autocomplete({
            source: '@Url.Action("Search3", "Cause")',
            minLength: 1,
            select: function (event, ui) {
                $('#description').val(ui.item.description);
                //return false;
            }
        });
    });


    function addRow(tableID) {

        var table = document.getElementById(tableID);

        var rowCount = table.rows.length;

        if (rowCount > 0) {
            $('#desc').show();
        } else {
            $('#desc').hide();
        }

        if (rowCount > 7) {
            alert('Do not over 7 item');
            return false;
        }

        var row = table.insertRow(rowCount);

        //checkbox
        var cell1 = row.insertCell(0);
        var element1 = document.createElement("input");
        element1.type = "checkbox";
        element1.className = "textBoxStyle";
        cell1.appendChild(element1);

        var cell2 = row.insertCell(1);
        cell2.innerHTML = rowCount;

        //อาการ
        var cell3 = row.insertCell(2);
        var element2 = document.createElement("input");
        element2.type = "text";
        element2.className = "textBoxStyle validate[required]";
        element2.id = "cause_description_" + rowCount;
        element2.name = "cause_description_" + rowCount;
        element2.value = $('#description').val();
        cell3.appendChild(element2);

        //จำนวน
        var cell4 = row.insertCell(3);
        var element3 = document.createElement("input");
        element3.type = "text";
        element3.className = "textBoxStyle3 validate[custom[integer]]";
        element3.id = "cause_qty_" + rowCount;
        element3.name = "cause_qty_" + rowCount;
        cell4.appendChild(element3);

        //ค่าบริการ
        var cell5 = row.insertCell(4);
        var element4 = document.createElement("input");
        element4.type = "text";
        element4.className = "textBoxStyle3 validate[custom[number]]";
        element4.id = "cause_price_" + rowCount;
        element4.name = "cause_price_" + rowCount;
        cell5.appendChild(element4);

        //หมายเหตุ
        var cell6 = row.insertCell(5);
        var element5 = document.createElement("input");
        element5.type = "text";
        element5.className = "textBoxStyle";
        element5.id = "cause_note_" + rowCount;
        element5.name = "cause_note_" + rowCount;
        cell6.appendChild(element5);

        // clear value 
        $('#jtSearching').val('');
        $('#description').val('');


    }

    function deleteRow(tableID) {
        try {
            var table = document.getElementById(tableID);
            var rowCount = table.rows.length;

            for (var i = 1; i < rowCount; i++) {
                var row = table.rows[i];
                var chkbox = row.cells[0].childNodes[0];
                if (null != chkbox && true == chkbox.checked) {
                    table.deleteRow(i);
                    rowCount--;
                    i--;
                }
            }

            if (rowCount > 1) {
                $('#desc').show();
            } else {
                $('#desc').hide();
            }
        } catch (e) {
            alert(e);
        }
    }
 
</script>

<input type="text" id="jtSearching" name="jtSearching" placeholder="ค้นหา..." class="textBoxStyle" />
<input type="button" value="เพิ่ม" onclick="addRow('dataTable')" class="textBoxStyle" />
<input type="button" value="ลบ" onclick="deleteRow('dataTable')" class="textBoxStyle" />

<input type="text" id="description" name="description" style="display:none" />

@using (Html.BeginForm())
{
   <table cellspacing="10" id="desc">
   <tr align="center">
  <td style="width:10px"></td>
    <td style="width:180px">อาการ</td>
    <td style="width:60px">จำนวน</td>
    <td style="width:60px">ค่าบริการส่งซ่อม</td>
    <td style="width:180px">หมายเหตุ</td>
   </tr>
    <tr><td colspan="5">
        <table cellspacing="10" id="dataTable">
            <tr>
                @*dynamic row here*@
            </tr>
        </table>
    </td></tr>
    </table>
}
