<div class="block notice">
<h4>แจ้งเตือน</h4>
<p>
    <div id="MessagingDiv">
        <textarea id="Message" class="textAreaStyle" placeholder="พิมพ์ข้อความ..."></textarea>
    </div>
    <div id="TableUpdates" class="rectangular-area">
        <ul id="EventsList">
        </ul>
    </div> 
</p>
</div>