<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>

    </appSettings>

    <connectionStrings>
      <add name="DataContext" connectionString="Data Source=(local);Initial Catalog=gigahertz;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
     
      <!--<add name="ConnectionString" connectionString="Data Source=ns49.hostingdynamo.net;Initial Catalog=GEE;UID=geeadmin;password=gee123456;Timeout=5210;" providerName="System.Data.SqlClient"/>-->
    </connectionStrings>
</configuration>
