

<script src="@Url.Content("~/Scripts/jquery-1.7.min.js")" type="text/javascript"></script>
<link href="@Href("~/Scripts/uploader/uploadify.css")" rel="stylesheet" />
<script src="@Href("~/Scripts/uploader/jquery.uploadify.js")" type="text/javascript"></script>

<script type="text/javascript">
    function GetValueQueryString  (key, default_)
    {
      if (default_==null) default_="";
      key = key.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]");
      var regex = new RegExp("[\\?&]"+key+"=([^&#]*)");
      var qs = regex.exec(window.location.href);
      if(qs == null)
        return default_;
      else
        return qs[1];
    }
   

    $(window).load(
        function () {
            var id = GetValueQueryString("id");

            $("#fileuploader").fileUpload({
                'uploader': '/Scripts/uploader/uploader.swf',
                'cancelImg': '/Images/cancel.png',
                'buttonText': 'Select Image',
                'script': 'Uploader/Upload?id='+ id +';',
                'folder': '/Content/uploads',
                'fileDesc': 'Image Files',
                'fileExt': '*.jpg;*.jpeg;*.gif;*.png',
                'multi': true,
                'auto': true
            });
        }
    );

</script>

   
<div id="fileuploader"></div>


