
@{
   
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    
<div id="block-tables" class="block">
<div class="content">
<div class="inner">
    @Html.Partial("Lists")
</div>
</div>
</div>
   
    
